
$cd-btn: #2fc9de;
$cd-btn-start: rgba(1, 28, 55, 0);
$cd-btn-end: rgba(1, 28, 55, 1);
$border-rad: 2rem;
$clr-btn: #15DEA5;
$width: 8rem;
$height: 3rem;
$prog-bar-dur: 1000ms;
$prog-bar-delay: 150ms;
$cat-delay: $prog-bar-dur + $prog-bar-delay*2;

.container {
    display: flex;
    justify-content: center;
    margin-top: 20rem;
}
/*
.btn {
    color: #2fc9de;
    background-color: $cd-btn-start;
    border: 4px solid $cd-btn;
    border-radius: 10rem;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    transition: transform 450ms, background-color 300ms 150ms;
    &:hover {
        transform: scale(1.13);
        background-color: $cd-btn-end;
    }
    &:active {
        & + .progress {
            & > .progress__bar {
                
            }
        }
    }
}*/
.progress__bar {
    width: 50rem;
    height: 100%;
    background-color: #2fc9de;
}
.progress {
    border: 3px solid black;
    padding: .1rem;
    width: 50rem;
    height: 1rem;
    &__bar {
        transform-origin: left;
        /*opacity: 0;*/
        transform: scaleX(.5);
        animation: progress__bar $prog-bar-dur $prog-bar-delay both;
    }
}
@keyframes progress__bar {
    0% {
        transform: scaleX(0);
        opacity: .1;
    }
    17% {
        transform: scaleX(.18);
    }
    24% {
        transform: scaleX(.4);
        animation-timing-function:  cubic-bezier(.9,0,.1,1);
    }
    46% {
        transform: scaleX(.81);
        animation-timing-function: cubic-bezier(.25,.25,1);
    }
    100% {
        transform: scaleX(1);
    }
}

.cat {
    animation: cat 0ms $cat-delay both;
    width: 50vw;
    height: 30vw;
    position: absolute;
    overflow: hidden;
    background-image: url("https://bit.ly/2XJJLKn");
    background-size: cover;
    background-position: -20%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: .1rem;
    font-size: 4vw;
    font-weight: 900;
    color: white;
}
@keyframes cat{
    0% {
        transform: translateX(-9999px);
    }
    100% {
        transform: translateX(0);
    }
}
/*
.btn {
    width: $width;
    height: $height;
    border-radius: $border-rad;
    background-color: $clr-btn;
    cursor: pointer;
    margin-top: 5rem;
    margin-left: 7.5rem;
    position: relative;
    z-index: 1;
    &:hover {
        &::after {
            opacity: 1;
        }
    }
    &::after {
        content:"";
        border-radius: $border-rad;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: radial-gradient(circle, lighten($clr-btn,5) 0%, darken($clr-btn, 10) 100%);
        opacity: 0;
        z-index: -1;
        transition: opacity 250ms;
    }
}
*/